
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
 }
 
 .about .row .image{
    flex: 1 1 40rem;
 }
 
 .about .row .image img{
    width: 40rem;
    border-radius: .5rem;
 }
 
 .about .row .content{
    flex:1 1 40rem;
 }
 
 .about .row .content h3{
    font-size: 3rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
 }
 
 .about .row .content p{
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--sub-color);
 }
 
 .about .row.revers{
    flex-flow: row-reverse;
    margin: 3rem 0;
    flex-wrap: wrap;
 }
 
 .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .services .box-container .box{
    padding: 2rem;
    text-align: center;
 }
 
 .services .box-container .box img{
    height: 7rem;
    margin-bottom: 1rem;
 }
 
 .services .box-container .box h3{
    font-size: 2rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin: 1rem 0;
 }
 
 .services .box-container .box p{
    line-height: 2;
    font-size: 1.5rem;
    color:var(--sub-color);
 }
 
 
.contact .row{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
 }
 
 .contact .row form{
    flex: 1 1 40rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
 }
 
 .contact .row .faq{
    flex: 1 1 40rem;
 }
 
 .contact .row form h3{
    border-radius: .5rem;
    padding: 1.2rem;
    color: var(--main-color);
    background-color: var(--sub-color);
    font-size: 2.2rem;
    text-transform: capitalize;
 }
 
 .contact .row form .box{
    padding: 2rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    font-size: 1.8rem;
    color: var(--sub-color);
    background:var(--main-color);
    width: 100%;
 }
 
 .contact .row form .box::placeholder{
    color: rgba(220, 198, 156, .6);
 }
 
 .contact .row form textarea{
    height: 15rem;
    resize: none;
 }
 
 .contact .row .faq .title{
    padding-bottom: .5rem;
    font-size: 2.5rem;
    color: var(--sub-color);
    text-transform: capitalize;
    text-align: center;
 }
 
 .contact .row .faq .box{
    border-radius: .5rem;
    border: var(--border);
    margin-top: 2rem;
 }
 
 .contact .row .faq .box h3{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
 }
 
 .contact .row .faq .box p{
    padding:1.5rem 2rem;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--sub-color);
    display: none;
 }
 
 .contact .row .faq .box.active p{
    display: inline-block;
 }
 
 .reviews{
    padding-top: 0;
 }
 
 .reviews .box{
    text-align: center;
    user-select: none;
    padding: 2rem;
    margin-bottom: 4rem;
 }
 
 .reviews .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .reviews .box h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--sub-color);
 }
 
 .reviews .box p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--sub-color);
 }
 
 .bookings .heading{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--sub-color);
    font-size: 2.5rem;
    text-transform: capitalize;
 }
 